// // Variables
// //

// // Color system
// //

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #fafafa;
$gray-300: #e5e5e5;
$gray-400: #adb5bd;
$gray-500: #999999;
$gray-600: #616160 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #333333 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);


$blue:    #548AF3;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #4eb79a;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;


$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       #548AF3;
$secondary:     #cbdbfb;
$success:       #4eb79a;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        #f25f5c;
$light:         #fafafa;
$medium-dark:   #616160;
$dark:          #50514f;
$extra-dark:    #454644;
$blue-dark:     #4664E9;
$blue-medium:   #889ef2;
$blue-light:    #cbdbfb;
$error-color:   #f25f5c;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "blue-dark":  $blue-dark,
    "blue-light": $blue-light,
    "blue-medium": $blue-medium
  ),
  $theme-colors
);

// // Custom variables
// //
$xs-padding: 10px;
$md-padding: 20px;
$link-color-2: #247ba0;
$border-light: 1px solid $gray-300;
$header-height: 60px;